@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  background-color: whitesmoke;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #61a4bc;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.search-form label {
  display: none;
}

.search-form input {
  border: none;
  padding: 10px;
  font-size: 16px;
  height: 40px;
  outline: none;
}

.search-form button {
  border: none;
  background-color: #fff;
  height: 40px;
  padding: 10px;
  outline: none;
  cursor: pointer;
}

.search-form button:hover {
  filter: brightness(90%);
}

.search-form button i {
  font-size: 20px;
  color: #61a4bc;
}

h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 5px;
  text-shadow: 0 2px 2px #fff;
  color: #434a53;
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* image container */
.image-container {
  margin: 20px 30%;
  margin-top: 65px;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  .image-container {
    margin: 10px;
  }
}
